.maindata__containter {
    display: flex;
    flex-direction: column;
    height: auto;
}

.information__containter {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description_container {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map_container {
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_container-card-favicon {
    z-index: 1;
    width: 3rem;
    fill: rgba(0, 0, 0, 0.718);
    stroke: rgba(255, 255, 255, 0.579); 
    stroke-width: 2; 
    stroke-linecap: round;
}

.center-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.changeProrerty {
    display: flex;
    flex-direction: column;
}